<section class="container centered">
  <div class="about">
    {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
    {{ with .Site.Params.avatarurl }}
    <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
    {{ end }}
    {{ end }}
    {{ with .Site.Params.gravatar }}
    <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar"></div>
    {{ end }}
    {{ with .Site.Params.wgavatar }}
    <div>
      <br>
      <br>
      <a href="https://www.computecanada.ca">
	<img src="{{ . | relURL }}" alt="wgavatar">
      </a>
    </div>
    {{ end }}
    <h1>{{ .Site.Params.info }}</h1>
    <br>
    <br>
    <div id="frontdates">
      <div class="left"><a href="/en">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Program in English</a></div>
      <div class="left"><a href="/fr">Programme en Français</a></div>
    </div>
    <br>
    <div id="frontdates">
      <div class="left"> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Register <a href="https://ccf-hss-series-winter-2022.eventbrite.ca">here</a></div>
      <div class="left"> Inscrivez-vous <a href="https://ccf-hss-series-winter-2022.eventbrite.ca">ici</a></div>
    </div>     
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </div>
</section>
