<section class="container centered">
  <div class="about">
    {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
    {{ with .Site.Params.avatarurl }}
    <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
    {{ end }}
    {{ end }}
    {{ with .Site.Params.gravatar }}
    <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar"></div>
    {{ end }}
    {{ with .Site.Params.wgavatar }}
    <div>
      <br>
      <br>
      <a href="https://www.computecanada.ca">
	<img src="{{ . | relURL }}" alt="wgavatar">
      </a>
    </div>
    {{ end }}
    <h1>{{ .Site.Params.info }}</h1>
    <br>
    <br>
    <div id="frontdates">
      <div class="left"><a href="/intro">Session 1: Welcome and Keynote Address</a></div>
      <div class="right">February 22, 12:00-1:00pm ET</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/digital">Session 2: A Digital Adventure</a></div>
      <div class="right">February 22, 1:30-3:30pm ET</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/beverage">Session 3: Be Your own Beverage</a></div>
      <div class="right">February 22, 4:00-5:00pm ET</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/pm">Session 4: What Should I Learn and Where can I Learn it?</a></div>
      <div class="right">February 23, 12:00-1:00 pm ET</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/lab">Session 5: The programming Lab</a></div>
      <div class="right">February 23, 01:00-5:00pm ET</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/dmp">Session 6: Research Data Management for HSS: From Plan to Preservation, and (Almost) Everything in Between</a></div>
      <div class="right">February 24, 12:00-2:00pm ET</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/rdmp">Session 7: What is the Worst That Could Happen? (Research Data Management Panel)</a></div>
      <div class="right">February 24, 02:30-4:00pm ET</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/gisqgis">Session 8: An Absolute Beginner's Introduction to GIS and QGIS</a></div>
      <div class="right">February 25, 12:00-02:00 pm ET</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/cloud">Session 9: Engaging in the Future of Cloud</a></div>
      <div class="right">February 25, 2:45-03:45 pm ET</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/plab">Session 10: Programming Lab Show and Tell</a></div>
      <div class="right">February 25, 4:00-05:00 pm ET</div>
    </div>
    <br>
    <div id="frontdates">
      Register <a href="no link yet">here</a>
    </div>
  </div>
</section>
