<section class="container centered">
  <div class="about">
    {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
    {{ with .Site.Params.avatarurl }}
    <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
    {{ end }}
    {{ end }}
    {{ with .Site.Params.gravatar }}
    <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar"></div>
    {{ end }}
    {{ with .Site.Params.wgavatar }}
    <div>
      <br>
      <br>
      <a href="https://alliancecan.ca">
	<img style='height: 100%; width: 80%; object-fit: contain' src="{{ . | relURL }}" alt="wgavatar">
      </a>
    </div>
    {{ end }}
    <br>
    <h1>&emsp;&ensp;&nbsp;{{ .Site.Params.info }}</h1>
    <br>
    <br>
    <div id="frontdates">
      <div class="left">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/en">Program in English</a></div>
      <div class="left"><a href="/fr">Programme en Français</a></div>
    </div>
    <div id="frontdates">
      <div class="left">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Register <a href="https://www.eventbrite.com/cc/hss-series-2023-ecole-des-shs-2023-1552299" target="_blank">here</a></div>
      <div class="left"> Inscrivez-vous <a href="https://www.eventbrite.com/cc/hss-series-2023-ecole-des-shs-2023-1552299" target="_blank">ici</a></div>
    </div>     
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </div>
</section>
